



       <!DOCTYPE html>
       <html lang="en">
       <head>
           <meta charset="UTF-8">
           <meta http-equiv="X-UA-Compatible" content="IE=edge">
           <meta name="viewport" content="width=device-width, initial-scale=1.0">
           <script src="https://kit.fontawesome.com/e3831a00ca.js" crossorigin="anonymous"></script>
           <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
           <link rel="stylesheet" href="/css/styles.css">
           <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
           <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

             <title>Article</title>
       </head>

       <body>
           <div class="add-container" id="add-container">
               <div class="navigation">
                   <div class="for-logo">
                       <a><i class="fa fa-bars" id="one"></i></a>
                       <a href="/"><img src="/images/logo.webp" alt="logo"></a>
                       <a><i class="fa fa-bars" id="two" onclick="navigation()"></i></a>
                   </div>
                   <div class="navigation-bar" id="navigation-bar">
                       <nav>
                           <ul>
                            <li>
                              <p>
                                Logged as <%=email%>
                              </p>
                            </li>
                             <li><a href="/">Logout</a></li>
                           </ul>
                       </nav>
                   </div>
               </div>
            <div class="card" style="margin-top:10%;padding:50px 70px">
              <div class="card-title" style="text-decoration:underline;"><h3>
                Article Submission Form
              </h3></div>
            <style>
            .form-group{
              margin-bottom: 5px;
            }
            .form-group input,textarea{
              width: 90%;
            }
            nav{

            display: flex;
            align-items: center;
            }
            </style>
              <div class="contain" >
                <div class="content">
                  <form action="/article" method="post">
                    <div class="user-details">
                      <div class="form-group">
                        <input type="hidden" name ="email" class="form-control" value="<%=email%>" required>
                      </div>
                      <div class="form-group">
                        <input type="text" name ="name" class="form-control" placeholder="Enter your Full Name" required>
                      </div>
                      <div class="form-group">
                        <input type="text" name ="title"  class="form-control" placeholder="Enter the article title" required>
                      </div>
                      <div class="form-group">
                        <textarea name="content" class="form-control" placeholder="Post Content for the article"></textarea>
                      </div>
                      <div class="form-group">
                        <input type="text" name="photo" class="form-control" placeholder="Enter Photo URL" draggable="true" cols=100 rows=4></input>
                      </div>
                      <div class="form-group">
                        <input type="text" name="video" class="form-control" placeholder="Enter Video URL" draggable="true" cols=100 rows=4></input>
                      </div>
                    </div>
                    <div class="button">
                      <input type="submit" class="btn btn-primary" value="Submit">
                    </div>
                  </form>
                </div>
              </div>

            </div>
            </body>
            </html>
