<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/e3831a00ca.js" crossorigin="anonymous"></script>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <title>womenforpolitics</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container" id="container">
        <div class="navigation">
            <div class="for-logo">
                <a><i class="fa fa-bars" id="one"></i></a>
                <a href="/"><img src="/images/logo.webp" alt="logo"></a>
                <a><i class="fa fa-bars" id="two" onclick="navigation()"></i></a>
            </div>
            <div class="navigation-bar" id="navigation-bar">
                <nav>
                    <ul>
                        <li><a href="/">Home</a></li>
                       <li><a href="/blogs">Articles</a></li>
                        <li><a href="https://rzp.io/l/8wUdOlkuS" target="_blank">Contribute</a></li>
                        <li><a href="/signin">Signin</a></li>
                        <li><a href="/contact">Contact Us</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="home">
            <h1 id="women-heading">WOMEN FOR POLITICS</h1>
            <div class="search">
                <form method="post" action="/search">
                <input type="text" placeholder="Search for News" style="    height: 50%;" name="search">
                <!-- <a href="more-stories.html">Search</a> -->
                <button type="submit" name="button" style="    padding: 7px 14px;border: none;background-color: cornflowerblue;border-radius:9%;">Search</button>
              </form>

            </div>
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel" data-bs-interval=2000>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <div class="women">
                    <div class="women-box">
                         <img src="/images/women1.jpeg" alt="women">
                         <q> To accelerate their political careers, women need communication. connection and community </q>
                     </div>
                      <div class="women-box">
                          <img src="/images/women2.jpeg" alt="women">
                          <q> At present, our country needs women's idealism and determination, perhaps more in politics than anywhere else. </q>
                      </div>
                      <div class="women-box">
                          <img src="/images/women3.jpeg" alt="women">
                          <q> A critical part of empowering women is ensuring they have access to political spaces, to leadership and decision making at the highest level</q>
                      </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="women">

                    <div class="women-box">
                        <img src="/images/women4.jpeg" alt="women">
                        <q> We want our exports to perform better. We want more exports. We want to reach out to more countries selling our products, and for that, a weaker rupee will be anytime better</q>
                    </div>
                    <div class="women-box">
                         <img src="/images/women5.jpeg" alt="women">
                         <q> Education is education. We should learn everything and then choose which path to follow." Education is neither Eastern nor Western, it is human. </q>
                     </div>
                      <div class="women-box">
                          <img src="/images/women6.jpeg" alt="women">
                          <q> I have been accused that with which authority do I write letters to Universities. MPs who want admission for their kids come to me. I will never apologise for writing letters as I just did my duty. In my 20 months as minister, I have served my country, people without any prejudice. My ministry also responded to letters of Shashi Tharoor and TMC MP Saugata Roy. We also replied to AIMIM chief Owaisi's letter </q>
                      </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="women">

                     <div class="women-box">
                         <img src="/images/women7.jpeg" alt="women">
                         <q>History is full of examples of the disastrous consequences that came upon such nations that changed their constitutions by giving one man too much power</q>
                     </div>
                     <div class="women-box">
                         <img src="/images/women8.jpg" alt="women">
                         <q>Success is not a stereo type, success is to make every bit of your dreams came true no matter how challenging, believe in yourself</q>
                     </div>
                    <div class="women-box">
                         <img src="/images/women9.jpg" alt="women">
                         <q> When I was called, I told a group of doctors who was at a meeting
with me that it might be a ministerial change. Doctors said that my
portfolio will not be changed. But I was unaware of all these new
developments until the last minute </q>
                     </div>
                  </div>
                </div>
              </div>
              <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
            <div class="quote">
                <h2>Women for Politics aims to have a free, fair and equal political representation and participation of women in South Asia</h2>
            </div>
            <div class="believe">
                <h2>We Believe</h2>
                <div class="believe-data">
                    <div class="believe-box">
                        <img src="/images/lightbulb.png" alt="possitive narrative">
                        <h3>A Positive Narrative contributes to creating a Positive Spaces for Women in Politics</h3>
                        <p>By highlighting the achievements of women political leaders, we can build role models and promote more women in politics. Creating a positive narrative on women political leaders is the essence of our work.</p>
                    </div>
                    <div class="believe-box">
                        <img src="/images/allyship.png" alt="allyship">
                        <h3>Allyship of Men as an Enabler</h3>
                        <p>Where political spaces are dominated by men, they can play a critical role by acting as allies of women and promote women colleagues in political spaces.</p>
                    </div>
                    <div class="believe-box">
                        <img src="/images/leadership.png" alt="">
                        <h3>Political Leadership is the most powerful tool to change peoples lives and bring gender equality</h3>
                        <p>Political leaders elected to governments become responsible for influencing and making policies for millions of people. People also find inspiration from political leaders, so having responsible politicians representing diverse groups is an effective tool to bring a change to existing inequalities</p>
                    </div>
                </div>
                <p id="support">We rely on donations to fund our work</p>
                <i class="fa fa-arrow-down fa-3x"></i>
                <a href="https://rzp.io/l/e2nRvN6" target="_blank">Support Us</a>
            </div>
            <div class="country">
                <p>Sort by country :</p>
                <a href="#eight">India</a>
                <a href="#seven">Nepal</a>
                <a href="#four">Sri lanka</a>
                <a href="#five">Bhutan</a>
                <a href="#six">Bangladesh</a>
            </div>

           <div class="top-story" data-aos="fade-down" data-aos-duration="600">
            <h1  id="eight">India</h1>
            <div class="story-box">
              <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d15413999.309705481!2d71.0766534677156!3d19.404479171927544!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1swomen%20ngos%20india!5e0!3m2!1sen!2sin!4v1654967442561!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
          </div>


          <div class="top-story" data-aos="fade-down" data-aos-duration="600">
            <h1 id="seven">Nepal</h1>
            <div class="story-box">
                <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d6156823.0774074!2d85.0948629444498!3d25.561971379077026!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1swomen%20ngos%20nepal!5e0!3m2!1sen!2sin!4v1654968554800!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
          </div>

          <div class="top-story" data-aos="fade-down" data-aos-duration="600">
            <h1 id="four">Sri Lanka</h1>
            <div class="story-box">
                <<iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d2023382.6434611848!2d79.6511639719638!3d7.9035074635484195!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1swomen%20ngos%20sri%20lanka!5e0!3m2!1sen!2sin!4v1654968726495!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
          </div>

          <div class="top-story" data-aos="fade-down" data-aos-duration="600">
            <h1 id="five">Bhutan</h1>
            <div class="story-box">
                <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d113294.53006158849!2d89.44095160916203!3d27.455119918633056!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1swomen%20ngos%20bhutan!5e0!3m2!1sen!2sin!4v1654968841215!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
          </div>

          <div class="top-story" data-aos="fade-down" data-aos-duration="600">
            <h1 id="six">Bangladesh</h1>
            <div class="story-box">
                <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d3747004.1861294047!2d88.09450043986506!3d23.489889218517497!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1swomen%20ngos%20bangladesh!5e0!3m2!1sen!2sin!4v1654968899263!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
          </div>

        </div>
    </div>
    <div class="footer">
        <div class="social">
            <a href="https://www.facebook.com/WfPSAsia"target="_blank"><i class="fa fa-facebook"></i></a>
            <a href="https://www.twitter.com/WfPSAsia"target="_blank"><i class="fa fa-twitter"></i></a>
            <a href="https://www.instagram.com/accounts/login/?next=/womenforpolitics/"target="_blank"><i class="fa fa-instagram"></i></a>
            <a href="mailto:contact@womenforpolitics.com"target="_blank"><i class="fa fa-envelope"></i></a>
            <a href="https://www.linkedin.com/company/womenforpolitics"target="_blank"><i class="fa fa-linkedin"></i></a>
            <a href="https://www.youtube.com/channel/UCwfKr2vveZxZ72Jew1HI7tA"target="_blank"><i class="fa fa-youtube"></i></a>
        </div>
        <p>Copyright © 2022 Women for Politics | All rights reserved</p>
    </div>
    <script src="assets/js/script.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
</body>
</html>
