@import url('https://fonts.googleapis.com/css2?family=Hahmlet:wght@200;300;400;500;600;700&family=Poppins:wght@300;400;500;600;700;800&family=Roboto:wght@400;500;700;900&family=Rubik:wght@300;400;500;600;700;800&family=Ubuntu:wght@300;400;500;700&display=swap');
/*
font-family: 'Hahmlet', serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Rubik', sans-serif;
font-family: 'Ubuntu', sans-serif;
*/

/* Hostel Page Line 443 */
/* Signup Page Line 720 */
/* Client Page Line 824 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins',sans-serif;
}
.container,
.add-container {
    display: flex;
    justify-content: center;
}
.navigation {
    position: fixed;
    width: 100%;
    z-index: 1;
    box-shadow: 2px 2px 10px 1px rgb(177, 174, 174);
}
.for-logo {
    width: 16.66%;
    height: 100%;
    float: left;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgb(255, 255, 255, .9);
}
.for-logo a img {
    width: 80px;
    margin-top: 10px;
}
#one,#two {
    font-size: 25px;
    color: rgb(0, 0, 0);
}
#one {
    visibility: hidden;
}
#two {
    visibility: hidden;
}
.navigation-bar {
    width: 83.33%;
    height: 100px;
    float: left;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.9);
}
.navigation-bar ul {
    float: right;
    padding: 32.5px;
    text-align: center;
    list-style-type: none;
}
.navigation-bar ul li {
    display: inline;
    margin: 0;
    font-size: 18px;
    font-family: 'Poppins',sans-serif;
}
.navigation-bar ul li a {
    position: relative;
    padding: 2px;
    margin: 3vh;
    font-size: 20px;
    border-radius: 0px;
    color: rgb(0, 0, 0);
    letter-spacing: .4px;
    text-decoration: none;
    transition: .3s;
    font-family: 'Poppins',sans-serif;
}
.navigation-bar ul li a:hover {
    border-bottom: 3px solid rgb(0, 183, 255);
}
.home {
    position: relative;
    top: 2pc;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#women-heading {
    position: relative;
    top: 6pc;
    padding: 8px 20px;
    letter-spacing: 1px;
    font-weight: 500;
    color: rgb(0, 150, 209);
    border: 3px solid rgb(0, 149, 207);
}
.search {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7pc;
}
.search input {
    width: 250px;
    height: 29px;
    padding: 5px;
    outline: none;
    border-radius: 3px;
    border: 1px solid rgb(128, 128, 128);
}
.search a {
    color: #ffffff;
    padding: 2px 9px;
    border-radius: 3px;
    margin-left: 6px;
    background: rgb(0, 146, 204);
    text-decoration: none;
}
.women {
    position: relative;
    top: 5pc;
    width: 100%;
    height: 360px;
    margin: 3pc 0;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}
.women-box {
    width: 22%;
    height: 100%;
    padding: 7px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 2px 2px 20px 8px rgb(228, 228, 228);
}
.women-box img {
    width: 100%;
    height: auto;
    max-height: 200px;
    margin-bottom: 10px;
    border-radius: 10px;
}
.women-box q {
    position: relative;
    font-weight: 400;
    font-size: 17px;
    letter-spacing: .6px;
}
.quote {
    position: relative;
    width: 100%;
    height: auto;
    padding: 3pc;
    display: flex;
    justify-content: center;
    margin-top: 5pc;
    background: rgb(135, 221, 255);
}
.quote h2 {
    width: 60%;
    font-weight: 500;
    font-size: 2pc;
    text-align: center;
}
.believe {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2pc;
}
.believe h2 {
    font-weight: 500;
    font-size: 1.8pc;
    border-bottom: 3px solid rgb(0, 183, 255);
}
.believe-data {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    margin-top: 1pc;
}
.believe-box {
    width: 25%;
    height: auto;
    padding: 7px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    border-radius: 7px;
    box-shadow: 2px 2px 20px 8px rgb(228, 228, 228);
}
.believe-box img {
    width: 80px;
}
.believe-box h3 {
    font-weight: 500;
}
.believe-box p {
    font-weight: 400;
}
.believe-box h3,
.believe-box p,
.believe-box img {
    text-align: center;
    margin-top: 10px;
}
#support {
    margin-top: 25px;
    font-size: 20px;
    font-weight: 500;
}
.believe a {
    color: #ffffff;
    padding: 7px 12px;
    border-radius: 7px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-decoration: none;
    background: rgb(25, 25, 66);
}
.country {
    position: sticky;
    z-index: 3;
    top: 6pc;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background: #ffffff;
}
.country p {
    font-size: 18px;
    font-weight: 500;
}
.country a {
    outline: 0;
    border: 0;
    margin: 15px;
    font-size: 21px;
    padding: 6px 12px;
    border-radius: 7px;
    color: #000000;
    cursor: pointer;
    transition: .3s;
    text-decoration: none;
    background: rgb(0, 183, 255);
}
.country a:hover {
    background: transparent;
}
.top-story {
    position: relative;
    top: 100px;
    width: 60%;
    height: auto;
    margin-top: 3pc;
    box-shadow: 2px 2px 20px 8px rgb(218, 216, 216);
}
.top-story h1 {
    text-align: center;
    font-weight: 600;
    letter-spacing: 1px;
}
.story-box {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.story-box img {
    width: 100%;
    height: auto;
    margin-top: 15px;
}
.story-box h2 {
    font-weight: 600;
}
.story-box p {
    font-weight: 500;
    letter-spacing: .6px;
}
.story-box h1,
.story-box p {
    margin-top: 5px;
}
.top-story a {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin: 2pc 0;
    color: #000000;
    font-size: 20px;
    letter-spacing: .6px;
    padding: 7px 13px;
    border: 2px solid rgb(0, 183, 255);
    background: rgb(0, 183, 255);
}
.footer {
    position: relative;
    top: 10pc;
    width: 100%;
    height: auto;
    padding: 2pc 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: #000000;
}
.footer a i {
    font-size: 25px;
    margin: 10px;
    transition: .3s;
    color: rgb(0, 183, 255);
}
.footer a i:hover {
    transform: translateY(-7px);
}
.footer p {
    color: #ffffff;
    margin-top: 20px;
    text-align: center;
}
/* Add story */

.add-story-form {
    position: relative;
    top: 120px;
    width: 35%;
    height: auto;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 2px 2px 20px 8px rgb(218, 216, 216);
}
.add-story-form form {
    width: 90%;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    background: transparent;
}
.add-story-form form input,
.add-story-form form textarea,
.add-story-form form label,
.add-story-form form select,
.add-story-form form input[type="password"],
.add-story-form form input[type="email"],
.add-story-form form input[type="number"] {
    margin-top: 7px;
    background: transparent;
}
.add-story-form form input[type="text"],
.add-story-form form textarea,
.add-story-form form select,
.add-story-form form input[type="password"],
.add-story-form form input[type="email"],
.add-story-form form input[type="number"] {
    outline: 0;
    height: 37px;
    padding: 10px;
    border-radius: 6px;
    border: 2px solid black;
}
.add-story-form form textarea {
    height: 150px;
}
.add-story-form form select {
    padding: 0;
}
.add-story-form form input[type="submit"] {
    width: auto;
    font-size: 18px;
    background: rgb(135, 221, 255);
    border: 0;
    padding: 5px;
    border-radius: 6px;
    transition: .3s;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
}
.add-story-form form input[type="submit"]:hover {
    background: rgb(0, 178, 248);
}
.add-story-form h2 {
    font-weight: 500;
    text-align: center;
    background: transparent;
}
.add-story-form form span,
.add-story-form form span a {
    text-align: center;
    margin-bottom: 10px;
    background: transparent;
}
.add-story-form form span a {
    margin-left: 5px;
    color: rgb(255, 0, 0);
    text-decoration: none;
}

/* Contact Us */

#section-one {
    position: relative;
    top: 10pc;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}
#section-one p {
    width: 50%;
    font-size: 21px;
    letter-spacing: .7px;
    text-align: center;
}
#section-one a {
    color: #000000;
}
#signin-form {
    height: auto;
    display: flex;
    justify-content: center;
    margin: 2pc 0 10pc 0;
}
@media only screen and (max-width:1123px) {
    .for-logo {
        width: 100%;
        margin-top: 10px;
        background: rgba(255, 255, 255, 0.9);
    }
    .for-logo img {
        width: 70px;
    }
    #two {
        visibility: visible;
    }
    .navigation-bar {
        width: 100%;
        height: auto;
        display: none;
        margin-top: 5px;
        z-index: 2;
    }
    .navigation-bar ul {
        float: none;
        padding: 0;
        animation: two 1s ease-out;
    }
    .navigation-bar ul li {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        flex-direction: column;
        margin: -10px;
    }
    .navigation-bar ul li a {
        margin: 10px;
    }
    .home h1 {
        font-size: 20px;
    }
    .women {
        top: 0;
        height: auto;
        flex-direction: column;
        align-items: center;
    }
    .women-box {
        width: 90%;
        margin: 10px 0;
    }
    .quote {
        padding: 1.5pc;
    }
    .quote h2 {
        width: 100%;
        font-size: 17px;
    }
    .believe h2 {
        font-size: 19px;
    }
    .believe-data {
        width: 100%;
        height: auto;
        flex-direction: column;
        align-items: center;
    }
    .believe-box {
        width: 90%;
        height: auto;
        margin: 10px 0;
    }
    .country {
        margin: 5px;
        flex-direction: column;
    }
    .top-story {
        width: 95%;
    }
    .top-story h1 {
        font-size: 22px;
    }
    .story-box h2 {
        font-size: 18px;
    }
    .story-box p {
        font-size: 14px;
    }
    .footer p {
        font-size: 14px;
    }
    /* Add Story*/
    .add-story-form {
        width: 100%;
    }
    .add-story-form form {
        width: 90%;
    }
}
